/* --- start of CSS reset --- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* --- end of CSS reset --- */

body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    font-family: 'Metal Mania', cursive;
}

#main {
    height: 770px;
    width: 1500px;
    
    background-color: white;
    
    border: 1px solid rgba(19, 18, 18, 0.911);
    
}

#menu {
    height: 110px;
    width: 1500px;
    
    z-index: 100;
    color: white;
    background-color: rgb(5, 5, 5);
    
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}

#menu button {
    width: 300px;
    height: 70px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    font-size: 30px;
    
    padding-top: 15px;
    
    margin: 20px;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}

#menu button:hover {
    background-color: rgba(9, 97, 104, 1);

    box-shadow: inset 0px 0px 20px rgba(9, 97, 104, 1);

    border: 1px solid rgba(0, 0, 0, 0.05);

    color: rgb(255, 255, 255);

    transition: all 0.5s ease, height 0.5s linear;
} 

#button1:hover {
    height: 273px;
}

#button1 ul {
    visibility: hidden;    
    list-style: none;

    margin-top: 20px;

    color: white;

    overflow: hidden;
}

#button1 li {
    width: 300px;
    height: 45px;

    text-align: left;

    padding: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    
    font-size: 25px;

    text-transform: none;

    transition: all 0.5s ease;
}

#button1:hover ul {
    visibility: visible;
}

#button1 li:hover {
    background-color: rgba(30, 9, 105, 0.4);

    box-shadow: inset 0px 0px 10px rgba(30, 9, 105, 0.4);
}

#content {
    position: relative;
    
    width: 1500px;
    height: 700px;

    padding: 30px;
}

#cim {
    display: block;

    height: 50px;

    font-size: 50px;
    text-align: center;

    padding-bottom: 30px;
}

#alcim {
    display: block;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#szoveg {
    display:inline-block;
    width:auto;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

img {
    border: 10px solid black;
}

.logo {
    border: 0px;
    
}

.kepek {
    display: flex;
    flex-direction: row;
    width: 1440px;

    justify-content: center;

    margin-top: 130px;
}

.kepszoveg {
    text-align: center;
    width: 360px;  
}

.kepalatt {
    display: block;
    font-size: 25px;
}