/* --- start of CSS reset --- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* --- end of CSS reset --- */

body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    font-family: 'Montserrat', sans-serif;
}

#main {
    height: 700px;
    width: 1500px;
    
    background-color: white;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    
}

#menu {
    height: 100px;
    width: 1500px;
    
    z-index: 10;

    background-color: white;
    
    margin-top: 30px;
    margin-bottom: 30px;
    
    display: flex;
    justify-content: center;
}

#menu button {
    width: 300px;
    height: 70px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    font-size: 30px;
    
    padding-top: 15px;
    
    margin: 20px;
    
    border: 1px solid rgba(0, 0, 0, 0.15);

    text-transform: uppercase;
}

#menu button:hover {
    background-color: rgba(9, 97, 104, 1);

    box-shadow: inset 0px 0px 20px rgba(9, 97, 104, 1);

    border: 1px solid rgba(0, 0, 0, 0.05);

    color: rgb(255, 255, 255);

    transition: all 0.5s ease, height 0.5s linear;
} 

#button1:hover {
    height: 273px;
}

#button1 ul {
    visibility: hidden;    
    list-style: none;

    margin-top: 20px;

    color: white;

    overflow: hidden;
}

#button1 li {
    width: 300px;
    height: 45px;

    text-align: left;

    padding: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    
    font-size: 25px;

    text-transform: none;

    transition: all 0.5s ease;
}

#button1:hover ul {
    visibility: visible;
}

#button1 li:hover {
    background-color: rgba(30, 9, 105, 0.4);

    box-shadow: inset 0px 0px 10px rgba(30, 9, 105, 0.4);
}

p {
    display: flex;
    position: relative;
    
    width: 1500px;
    height: 700px;
}

#visszagomb {
    position: relative;
    top: 630px;
    left: 25px;

    width: 50px;
    height: 50px;

    border-radius: 25px;

    background-color: chartreuse;

    font-size: 30px;
    padding-bottom: 4px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}

#eloregomb {
    position: relative;
    top: 630px;
    left: 1375px;

    width: 50px;
    height: 50px;

    border-radius: 25px;

    background-color: chartreuse;

    font-size: 30px;
    padding-bottom: 4px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}

#cim {
    font-size: 50px;
}

#nev {    
    position: relative;
    top: 20px;
    left: -70px;
    font-size: 50px;
}